<!DOCTYPE html>
<html>

<head>
  <title>
    <%- title ? (title + ' - MySite') : 'MySite - a description of mysite' %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">

  <link rel="icon" href="/assets/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon.png">

  <meta property="og:description" content="A description of mysite">
</head>

<body class="<%- bodyClass %>">
  <div id="react-main"><%- react %></div>

  <script>
    window.__MOBX_STATE__ = <%- storeJSON %>;
  </script>
  <script src="/js/main.js"></script>
</body>

</html>